*{padding: 0;margin: 0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}
input{font-size: inherit;}
body{
    font-size: 12px;
    height: 100vh;
    line-height: 1.5;
    background: #AA3663;
}

/* layout */
.page >aside{

    background: #091C2A;
    display: flex;
    flex-direction: column;
}


/* aside */
.newSong{
    box-shadow: 0px 0px 2px 0px #00D89A;
    color: #FFFFFF;
    text-align: center;
    margin: 40px auto 40px auto;
    padding:8px;
    font-size: 12px;
    background: #00D89A;
    width: 95px;
    border-radius: 40px;
    cursor: pointer;

}
.newSong.active{
    background: #00D89A;
}

#songList-containner{
    flex-grow: 1;
    max-height: 480px;
    width: 261px;
    overflow: auto;
    padding: 10px 0;
    background: #122430;
}

#songList-containner::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#songList-containner::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #122430;
}#songList-containner::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #091C2A;
}

.songList{
    text-align: left;

}
.songList >li{
    color: #DEDDDF;
    background: #122430;
    border-left: 3px solid transparent;
    font-size: 13px;
    width: 250px;
    margin: 0 5px 0 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding: 6px 20px;
    cursor: pointer;

}
.songList >li.active{
    border-left: 3px solid #31C0F7;
    background: #122430;
    border-radius: 1px;
}
.uploadArea{
    background: #FFFFFF;
    border-radius: 11px;
}
.uploadArea.active>.draggable{
    background: #FFFFFF;
    border-radius: 11px;
}
.draggable{
    color: #848484;
    font-size: 10px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
}
.clickable{
    cursor: pointer;
}
/* main */

.page >main{
    flex-grow: 1;/*自适应*/
    background: #F4F4F4;
    padding: 40px 60px 40px 60px;
}
main>.songMessage{
    border-radius: 7px;
    box-shadow: 0 0 1px 1px #FFFFFF;;
    margin-top: 20px;
    padding: 72px 20px 15px 84px;
    color: #4A4B4C;
    background: #FFFFFF;
}
main>.songMessage>h3{
    color: #848484;
    margin-bottom: 10px;

}
.form{
    font-size: 14px;
    padding-top: 10px;
}
.form >.row{
    margin: 8px 0;
    display: flex;
}

.form >.row label{
    display: flex;
    color: #BABABA;
    /*justify-content: flex-end;右对齐*/
    align-items: center;/*label和inut无任何空隙*/
    width: 4em;
}
.form >.row .lyric{
margin-top: -97px;
}
.form input[type=text]{
    padding: 4px 10px;
    font-size: 13px;
    color: #848484;
    border-radius: 21px;
    border:2px solid #F5F5F5;
    outline: none;
}
.form input[name=url],
.form input[name=cover]{
    width: 400px;
}
.form input[type=submit]{}
.form textarea{
    font-size: 14px;
    color: #848484;
    width: 500px;
    height: 122px;
    resize: none;
    padding: 5px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.form >.row.actions{
    margin-left: 460px;
    margin-top: 30px;
}
.form button{
    box-shadow: 0px 0px 2px 0px #00D89A;
    background: #00D89A;
    color: #FFFFFF;
    border: none;
    width: 96px;
    padding: 8px 10px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.page{
    margin: 50px auto;
    width: 960px;
    display: flex;

}
/*--loading---*/
@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
.uploadArea.active .icon{

    animation: loading 3s infinite linear;
}



textarea::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
textarea::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #F4F4F4;
}
textarea::-webkit-scrollbar-track {/*滚动条里面轨道*/
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     border-radius: 10px;
     background: #FFFFFF;
 }

.icon {
    width: 4em; height: 4em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}